<!doctype html>
<html lang="pt">

  <head>
    <%- include('../components/head'); %>
  </head>

  <body>

    <main>
      <section class="intro">
        <%- include('../components/navbarMain'); %>
      </section>

      <section class="featured-cars">
        <h2>Carros</h2>
        <div class="car-slider">
          <div class="car-list">
            <article class="car-item">
              <img class="car-image" src="/assets/img/Bugatti-La_Voiture_Noire-2019-1280-07.jpg"
                  alt="Bugatti La Voiture Noire">
              <h3>Bugatti La Voiture Noire</h3>
              <div class="car-info">
                <div>Março 2021</div>
                <div>10.000Kms</div>
                <div>Gasolina</div>
                <div>Automática</div>
                <div>1.000.000 €</div>
              </div>
            </article>

            <article class="car-item">
              <img class="car-image" src="/assets/img/Bugatti-La_Voiture_Noire-2019-1280-07.jpg"
                  alt="Bugatti La Voiture Noire">
              <h3>Bugatti La Voiture Noire</h3>
              <div class="car-info">
                <div>Março 2021</div>
                <div>10.000Kms</div>
                <div>Gasolina</div>
                <div>Automática</div>
                <div>1.000.000 €</div>
              </div>
            </article>

            <article class="car-item">
              <img class="car-image" src="/assets/img/Bugatti-La_Voiture_Noire-2019-1280-07.jpg"
                  alt="Bugatti La Voiture Noire">
              <h3>Bugatti La Voiture Noire</h3>
              <div class="car-info">
                <div>Março 2021</div>
                <div>10.000Kms</div>
                <div>Gasolina</div>
                <div>Automática</div>
                <div>1.000.000 €</div>
              </div>
            </article>

            <article class="car-item">
              <img class="car-image" src="/assets/img/Bugatti-La_Voiture_Noire-2019-1280-07.jpg"
                  alt="Bugatti La Voiture Noire">
              <h3>Bugatti La Voiture Noire</h3>
              <div class="car-info">
                <div>Março 2021</div>
                <div>10.000Kms</div>
                <div>Gasolina</div>
                <div>Automática</div>
                <div>1.000.000 €</div>
              </div>
            </article>

            <article class="car-item">
              <img class="car-image" src="/assets/img/Bugatti-La_Voiture_Noire-2019-1280-07.jpg"
                  alt="Bugatti La Voiture Noire">
              <h3>Bugatti La Voiture Noire</h3>
              <div class="car-info">
                <div>Março 2021</div>
                <div>10.000Kms</div>
                <div>Gasolina</div>
                <div>Automática</div>
                <div>1.000.000 €</div>
              </div>
            </article>

            <article class="car-item">
              <img class="car-image" src="/assets/img/Bugatti-La_Voiture_Noire-2019-1280-07.jpg"
                  alt="Bugatti La Voiture Noire">
              <h3>Bugatti La Voiture Noire</h3>
              <div class="car-info">
                <div>Março 2021</div>
                <div>10.000Kms</div>
                <div>Gasolina</div>
                <div>Automática</div>
                <div>1.000.000 €</div>
              </div>
            </article>

            <article class="car-item">
              <img class="car-image" src="/assets/img/Bugatti-La_Voiture_Noire-2019-1280-07.jpg"
                  alt="Bugatti La Voiture Noire">
              <h3>Bugatti La Voiture Noire</h3>
              <div class="car-info">
                <div>Março 2021</div>
                <div>10.000Kms</div>
                <div>Gasolina</div>
                <div>Automática</div>
                <div>1.000.000 €</div>
              </div>
            </article>
          </div>
        </div>
      </section>

      <section class="about-us">
        <h2>Quem somos?</h2>
        <p>Somos uma empresa de venda de automóveis usados</p>
        <a href="#">Saiba mais</a>
      </section>
    </main>

    <footer>
    <%- include('../components/footer'); %>
    </footer>
  </body>
</html>
