<div class="location">
	<h3>Localização</h3>
	<p>Rua João Paulo II</p>
</div>
<div class="contact">
	<h3>Contactos</h3>
	<p>Telefone: +351 933 939 306</p>
	<p>Email: test@gmail.com</p>
</div>
<div class="social-media">
	<h3>Siga-nos nas Redes Sociais!</h3>
	<ul>
		<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
		<li><a href="#"><i class="fab fa-instagram"></i></a></li>
		<li><a href="#"><i class="fab fa-twitter"></i></a></li>
	</ul>
</div>