<div class="logo">
	<img src="/assets/img/icon.svg" alt="Logo da 3'S Auto">
</div>
<nav class="nav-overlay">
	<ul>
		<li><a href="/cars">Viaturas</a></li>
		<li><a href="/about">Quem Somos</a></li>
		<li><a href="/contacts">Contactos</a></li>
	</ul>
</nav>
<video autoplay muted loop id="intro-video">
	<source src="/assets/video/index_video2.mp4" type="video/mp4">
	Your browser does not support the video tag.
</video>
<div class="video-overlay"></div>
<div class="video-content">
	<h1>3'S Auto</h1>
	<p>Confira as nossas novidades.</p>
</div>